---
import { Image } from "astro:assets";
import CheffImage from "../assets/cheff.jpg";
import CookingVideo from "../assets/video/cookingvideo.mp4";
---

<div class="outer-container">
  <div class="inner-container">
    <div class="section-title">
      <div class="line"></div>
      <h1 class="heading">About us</h1>
    </div>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
      mollitia, aliquam officiis nobis eos explicabo atque quia veritatis minus
      nulla a debitis odio totam dolor consequuntur quasi, magni aspernatur
      quisquam reiciendis alias? Recusandae nesciunt eius magnam ullam aliquid
      doloremque quia!x
    </p>

    <div class="main-section">
      <div class="video-container">
        <video
          id="chef-video"
          class="chef-video"
          src={CookingVideo}
          autoplay
          muted
          loop></video>
        <div id="play-button" class="play-button">▶</div>
      </div>
    </div>
  </div>
</div>

<style>
  .outer-container {
    padding: 2rem 0;
  }
  .inner-container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 1rem;
  }
  .section-title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--base-l-40);
  }
  .description {
    margin: 2rem 0;
    color: var(--base-l-40);
    line-height: 1.5;
  }
  .line {
    height: 2px;
    width: 80px;
    background-color: var(--base-l-40);
    margin-top: 2px;
  }
  .main-section {
    padding: 2rem 0;
    width: 100%;
    overflow: hidden;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .chef-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", (event) => {
    const video = document.getElementById("chef-video");
    const playButton = document.getElementById("play-button");

    const updateIcon = () => {
      if (video.paused || video.ended) {
        playButton.textContent = "▶";
      } else {
        playButton.textContent = "❚❚";
      }
    };

    playButton.addEventListener("click", () => {
      if (video.paused || video.ended) {
        video.play();
      } else {
        video.pause();
      }
      updateIcon();
    });

    video.addEventListener("click", () => {
      if (video.paused || video.ended) {
        video.play();
      } else {
        video.pause();
      }
      updateIcon();
    });

    video.addEventListener("play", updateIcon);
    video.addEventListener("pause", updateIcon);
  });
</script>
