<div class="outer-container">
  <div class="inner-container">
    <div class="section-title">
      <div class="line"></div>
      <h1 class="heading">About us</h1>
    </div>
  </div>
</div>

<style>
  .outer-container {
    padding: 2rem 0;
  }
  .inner-container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 1rem;
  }
  .section-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    .heading {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--base-l-40);
    }
    .line {
      height: 2px;
      width: 80px;
      background-color: var(--base-l-40);
      margin-top: 2px;
    }
  }
</style>
